.el-container {
  height: 100%;
}


//修改menu样式
.el-menu.el-menu--horizontal {
  border: 0;
}
.el-menu--horizontal>.el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal>.el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal>.el-submenu .el-submenu__title:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.el-menu--horizontal>.el-menu-item.is-active{
  border: 0;
}
// 修改card头部下边框
.el-card__header{
  border-bottom: 2px solid rgb(126, 142, 230);
}
